@import url('variables.css');

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
}
.search-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-filter input {
    padding: 10px;
    width: 45%;
    border: 1px solid var(--color-secondary-background);
    border-radius: 5px;
    background-color: var(--color-background);
    color: var(--color-text);
}
.card.approved {
    display: flex;
    align-items: center;
    background: var(--color-background);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    height: 64px;
}
.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.card .detail-link {
    margin-left: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: var(--color-primary);
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.card .detail-link:hover {
    background: var(--color-hover);
    color: var(--color-hover-text);
}
