@import url('variables.css');

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar {
    background: var(--color-background);
    color: #e0e0e0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 919px;
}
.sidebar h1 {
    font-size: var(--font-size-xlarge);
    font-family: var(--font-family-primary);
    color: var(--color-text);
}
.sidebar h1.centered {
    text-align: center;
    width: 100%;
}
.stats {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.stats div {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    background: var(--color-secondary-background);
}
.stats a.full-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.stats div span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-small);
}
.stats div:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.stats div:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
}
.stats .pending { background: var(--color-primary); }
.stats .approved { background: var(--color-primary); }
.stats .rejected { background: var(--color-primary); }
.stats a {
    color: white;
    text-decoration: none;
}
.stats button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    border: none;
    width: 80%;
    margin: 0 auto;
    background: none;
    color: white;
    font-size: var(--font-size-small);
}
.stats button .count {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.stats button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.stats button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
}
.content {
    flex-grow: 1;
    background: var(--color-secondary-background);
}
.search-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-filter input {
    padding: 10px;
    width: 45%;
    border: 1px solid var(--color-secondary-background);
    border-radius: 5px;
    background-color: var(--color-background);
    color: var(--color-text);
}
.card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card {
    display: none;
    align-items: center;
    background: var(--color-secondary-background);
    padding: 10px;
    border-radius: 10px;
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.card button {
    margin-left: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: var(--color-primary);
    cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-secondary-background);
}
.navbar nav {
    width: 100%;
    background: var(--color-secondary-background);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar button {
    padding: 10px;
    border: none;
    border-radius: 50%;
    background: var(--color-background);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar button img {
    width: 20px;
    height: 20px;
}
.navbar button.logout-button {
    margin-left: auto;
}
.components {
    padding: 20px;
    flex-grow: 1;
    background: var(--color-secondary-background);
}
.container {
    display: flex;
    height: 100vh;
}
.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
}