
:root {
    --color-background: #171717;
    --color-secondary-background: #111111;
    --color-primary: #222222;
    --color-text: #EEEEEE;
    --color-hover: #EEEEEE;
    --color-hover-text: #222831;

    --font-family-primary: "Roboto", sans-serif;
    --font-size-xxsmall: 10px;
    --font-size-small: 15px;
    --font-size-medium: 15px;
    --font-size-large: 25px;
    --font-size-xlarge: 40px;
    --font-size-xxlarge: 60px;
    --font-size-xxxlarge: 70px;
    --o-border-cards: 15px ;
}
