{% load static %}
<link rel="stylesheet" href="{% static 'css/approved.css' %}">
{% for solicitud in aprobados %}
<div class="card approved">
    {% if solicitud.usuario.foto_perfil %}
        <img src="{{ solicitud.usuario.foto_perfil }}" alt="Perfil">
    {% else %}
        <img src="{% static 'images/default_profile.png' %}" alt="Perfil">
    {% endif %}
    <div>
        <strong class="user-name">{{ solicitud.usuario.first_name }} {{ solicitud.usuario.last_name }}</strong>
        {% for educacion in solicitud.usuario.educacion.all %}
            <p class="education-title">{{ educacion.titulo }}</p>
        {% endfor %}
    </div>
    <button class="detail-link" onclick="location.href='?estado=card_detail&user_id={{ solicitud.usuario.pk }}'">Ver detalle</button>
</div>
{% endfor %}
