{% load static %}
<link rel="stylesheet" href="{% static 'css/approved.css' %}">

{% for solicitud in aprobados %}
    {% with user=solicitud.usuario %}
        {% include 'backoffice/components/user_card.html' with card_type="approved" status_type="approved" status_indicator_class="status-indicator" status_text="Aprobado desde "|add:solicitud.fecha_creacion|date:"d/m/Y" %}
    {% endwith %}
{% empty %}
    {% include 'backoffice/components/empty_state.html' with empty_message="No hay perfiles aprobados por el momento" %}
{% endfor %}

{% include 'backoffice/components/pagination.html' %}