{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backoffice - Towork</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
</head>
<body>
    <div class="container">
        {% include 'backoffice/sidebar.html' %}
        
        <div class="main-content">
            {% include 'backoffice/navbar.html' with estado=estado %}
            
            <div class="components">
                <div class="card-container" id="card-container">
                    {% if estado == 'pendientes' %}
                        {% include 'backoffice/pending.html' %}
                    {% elif estado == 'aprobados' %}
                        {% include 'backoffice/approved.html' %}
                    {% elif estado == 'rechazados' %}
                        {% include 'backoffice/rejected.html' %}
                    {% elif estado == 'card_detail' %}
                        {% include 'backoffice/detail.html' with solicitud=solicitud %}
                    {% elif estado == 'update_status' %}
                        {% include 'backoffice/update_status.html' with solicitud=solicitud %}
                    {% elif estado == 'administrar_usuarios' %}
                        {% include 'backoffice/user_list.html' with users=users %}
                    {% elif estado == 'user_form' %}
                        {% include 'backoffice/user_form.html' with user_form=user_form success=success error=error %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/pagination.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
    <script src="{% static 'js/detail.js' %}"></script>
    <script src="{% static 'js/mobile.js' %}"></script>
</body>
</html>