{% load static %}
<link rel="stylesheet" href="{% static 'css/rejected.css' %}">

{% for solicitud in rechazados %}
    {% with user=solicitud.usuario %}
        {% include 'backoffice/components/user_card.html' with card_type="rejected" status_type="rejected" status_indicator_class="status-indicator" status_text="Rechazado desde "|add:solicitud.fecha_creacion|date:"d/m/Y" %}
    {% endwith %}
{% empty %}
    {% include 'backoffice/components/empty_state.html' with empty_message="No hay perfiles rechazados por el momento" %}
{% endfor %}

{% include 'backoffice/components/pagination.html' %}