<div class="sidebar">
    <h1 class="centered">Towork</h1>
    <div class="stats">
        <button class="solicitudes" onclick="location.href='?estado=pendientes'">Pendientes <span class="count">{{ pendientes|length }}</span></button>
        <button class="aprobados" onclick="location.href='?estado=aprobados'">Aprobadas <span class="count">{{ aprobados|length }}</span></button>
        <button class="rechazados" onclick="location.href='?estado=rechazados'">Rechazadas <span class="count">{{ rechazados|length }}</span></button>
    </div>
</div>
